#schedule-app #add {
  bottom: 0;
  top: auto;
  transform: scaleY(1);
  transform-origin: bottom center;
}

#schedule-app #add[hidden] {
  transform: scaleY(0);
}

#schedule-app #add #tabs {
  background: hsla(var(--theme), 0.25);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 0.25em 0;
  position: relative;
}

#schedule-app #add #tabs button {
  background: none;
  border-radius: none;
  box-shadow: none;
  font-size: 1.5rem;
  height: 100%;
  padding: none;
  width: 100%;
  z-index: 1;
}

#schedule-app #add #tabs #tabs__bg {
  background-color: hsl(var(--theme), 0.5);
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 200ms;
  width: 33%;
}

#schedule-app #add #tabs #tabs__bg.tabs--active-1 {
  left: 0;
}

#schedule-app #add #tabs #tabs__bg.tabs--active-2 {
  left: 33%;
}

#schedule-app #add #tabs #tabs__bg.tabs--active-3 {
  left: 67%;
}

#schedule-app #add form {
  align-items: center;
  display: grid;
  gap: 0.5em;
  grid-auto-rows: 2em;
  grid-template-rows: 3em;
  justify-content: center;
  padding: 2em;
}

#schedule-app #add form h2 {
  text-align: center;
}

#schedule-app #add form label {
  align-self: end;
}

#schedule-app #add form > input {
  margin: 0;
  width: calc(100% - 1em);
}
