#error-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 5em;
}

#error-page p {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#error-page a {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: auto;
  padding: 0;
  transition: color 150ms;
  width: auto;
}
