#auth {
  & #auth__box {
    align-items: center;
    border-radius: 20px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 25px;
    height: 100%;
    justify-items: center;
    padding: 25px;
    transition-duration: 300ms;

    & h2 {
      font-size: 1.5rem;
    }

    & p {
      font-size: 1.2rem;
      margin: 0;
      text-align: center;
    }

    & input[type="submit"] {
      width: 100%;
    }

    & input[type="button"] {
      border: none;
      border-bottom: 1px solid hsl(var(--bg));
      border-radius: 0;
      box-shadow: none;
      font-size: 1rem;
      height: max-content;
      padding: 5px;
      transition: border 300ms;
      width: max-content;

      &:hover,
      &:focus {
        border-bottom: 1px solid hsl(var(--theme));
      }
    }

    & label {
      justify-self: start;

      & input {
        margin-top: 10px;
        width: calc(100% - 20px);
      }
    }

    & #auth__otp {
      cursor: text;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(6, 1fr);

      & input {
        height: 45px;
        padding: 0;
        user-select: none;
        width: 100%;
      }
    }
  }

  & #loading {
    align-items: center;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 25px;
    height: 100%;
    justify-items: center;
    padding: 25px;
  }
}

@media all and (min-width: 500px) {
  #auth {
    align-items: center;
    display: grid;
    grid-template-rows: 1fr max-content 2fr;
    justify-content: center;

    & #auth__box {
      align-items: center;
      border: 1px solid hsl(var(--theme));
      border-radius: 20px;
      grid-row: 2;
      height: max-content;
      justify-items: center;
      padding: 25px;
      transition-duration: 300ms;
      width: 300px;
    }
    & #loading {
      align-items: center;
      grid-row: 2;
      height: max-content;
      justify-items: center;
      padding: 25px;
    }
  }
}
