#root {
  --bg: var(--bg-dark);
  --fg: var(--fg-dark);
  --lumosity: 75%;
  background: hsl(var(--bg));
  color: hsl(var(--fg));
  display: grid;
  grid-template-rows: 50px 1fr;
  height: 100vh;
  transition: background 300ms, color 300ms;

  &.light {
    --bg: var(--bg-light);
    --fg: var(--fg-light);
    --lumosity: 25%;
  }

  & > header {
    align-items: center;
    display: flex;
    gap: 10px;
    grid-row: 1;
    justify-content: center;

    & h1 {
      padding-top: 0.5rem;
    }

    & svg {
      height: 30px;
      width: 30px;
    }
  }
}

#error {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  left: calc(50vw - 110px);
  position: absolute;
  top: 10px;
  width: 200px;
  z-index: 10;

  & span {
    background: hsl(var(--error));
    border-radius: 10px;
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    text-align: center;
    transform: scaleY(1);
    transform-origin: top center;
    transition: transform 300ms;

    &:last-child {
      transform: scaleY(0);
    }
  }
}

.hotkey {
  align-items: center;
  background: hsl(var(--hotkey));
  border-radius: 5px;
  color: hsl(var(--fg-dark));
  display: flex;
  justify-content: center;
  padding: 3px 10px;
}
