#nav {
  align-content: start;
  background: hsla(var(--theme), 0.1);
  display: grid;
  grid-template-rows: max-content;
  padding-top: 25px;

  & .nav__section {
    align-items: center;
    border-left: 3px solid transparent;
    display: grid;
    grid-template-rows: 35px;

    & a {
      color: inherit;
      text-decoration: none;

      &:hover {
        background: hsla(var(--theme), 0.25);
      }
    }

    & .nav__section__title {
      align-items: center;
      display: flex;
      gap: 10px;
      height: 100%;
      padding: 0 10px;

      & svg {
        height: 20px;
        width: 20px;
      }

      & span {
        padding-top: 5px;
      }
    }

    & .nav__section__items {
      display: grid;
      grid-template-rows: 0;
      transform: scaleY(0);
      transform-origin: top center;

      & a {
        align-items: center;
        display: flex;
        height: 35px;
        max-height: 0;
        padding: 0 40px;
      }
    }

    &.nav__section--selected {
      background: hsla(var(--theme), 0.15);
      border-left: 3px solid hsla(var(--theme), 0.5);

      & .nav__section__items {
        align-items: center;
        grid-template-rows: max-content;
        max-height: 200px;
        transform: scaleY(1);
        transition: transform 300ms;

        & a {
          max-height: 35px;
        }

        & .nav__section__selected-item {
          background: hsla(var(--theme), 0.2);

          &:hover {
            background: hsla(var(--theme), 0.25);
          }
        }
      }
    }
  }
}
