#dashboard {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 2fr 3fr 2fr;
  padding: 25px;

  & #projects {
    grid-column: 3;
  }

  & .section-buttons {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;

    &[hidden] {
      & button {
        transform: scale(0);
      }
    }

    & .section-buttons__left {
      display: flex;
      gap: 5px;
      grid-column: 1;
      justify-content: flex-start;
    }

    & .section-buttons__center {
      display: flex;
      gap: 5px;
      grid-column: 2;
      justify-content: center;

      & button {
        height: 30px;
        padding: 0;
        width: 30px;

        & svg {
          height: 20px;
          width: 20px;
        }
      }
    }

    & .section-buttons__right {
      display: flex;
      gap: 5px;
      grid-column: 3;
      justify-content: flex-end;
    }

    & button {
      height: 25px;
      padding: 0;
      transform: scale(1);
      transition: transform 150ms;
      width: 25px;

      & svg {
        height: 15px;
        width: 15px;
      }
    }
  }
}
