#dashboard #projects {
  height: max-content;
  position: relative;

  & #projects__container {
    border-radius: 10px;
    box-shadow: 0 0 4px 2px hsla(var(--fg), 0.25);
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    height: max-content;
    justify-items: center;
    padding: 10px;
    position: relative;

    & #projects__list {
      display: grid;
      gap: 10px;
      grid-template-columns: max-content 1fr 1fr 1fr;
      width: 100%;

      &.loading {
        grid-template-columns: 1fr;
        justify-items: center;
      }

      & #projects__header {
        display: contents;

        & span {
          align-items: center;
          display: flex;
          justify-content: flex-end;
          text-align: right;
        }
      }

      & .projects__project {
        display: contents;

        & .projects__project__name {
          color: hsl(var(--project-colour), 100%, var(--lumosity));
          cursor: pointer;
          font-size: 1.2rem;
          justify-self: start;
        }

        & span {
          justify-self: end;
        }
      }
    }
  }

  & #edit-project {
    align-items: center;
    background: hsl(var(--bg));
    border: 1px solid hsla(var(--theme), 0.5);
    border-radius: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    left: -10px;
    padding: 25px;
    position: absolute;
    top: -10px;
    transform: scale(1);
    transform-origin: top center;
    transition: top 300ms, transform 300ms;
    transition-delay: 150ms;
    width: calc(100% - 30px);

    &[hidden] {
      top: calc(100% - 15px);
      transform: scale(0);
      transition: top 300ms, transform 300ms;
      transition-delay: 0;
    }

    & h2 {
      grid-column: 1 / -1;
      text-align: center;
    }

    & label {
      grid-column: 1 / -1;
      padding-top: 10px;
    }

    & input {
      grid-column: 1 / -1;
      margin: 0;
      width: calc(100% - 20px);

      &#edit-project__colour {
        grid-column: 1 / span 3;
      }
    }

    & span {
      background: hsl(var(--project-colour), 100%, 25%);
      border-radius: 5px;
      height: 100%;
      width: 100%;
    }

    & .buttons {
      display: grid;
      gap: 10px;
      grid-column: 1 / -1;
      grid-template-columns: 1fr 1fr;
      justify-items: center;

      &.buttons--updating {
        grid-template-rows: max-content max-content;

        & button:last-child {
          border: none;
          box-shadow: none;
          color: hsl(var(--error));
          grid-column: 1 / -1;
          height: max-content;
          padding: none;
          padding: 0;
          text-decoration: underline;
          width: max-content;

          &:hover {
            border: none;
          }
        }
      }

      & button {
        width: 100%;

        &[type="button"] {
          background: none;
          border: 1px solid hsla(var(--theme), 0.5);
          transition: border 300ms;

          &:hover {
            border: 1px solid hsla(var(--theme), 1);
          }
        }
      }
    }

    & #edit-project__delete {
      align-content: center;
      background: hsl(var(--bg));
      border-radius: inherit;
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr;
      height: calc(100% - 50px);
      left: 0;
      padding: 25px;
      position: absolute;
      top: 0;
      transform: scale(1);
      transition: transform 300ms;
      width: calc(100% - 50px);

      &[hidden] {
        transform: scale(0);
      }

      & h3 {
        grid-column: 1 / -1;
        text-align: center;
      }

      & button:first-of-type {
        background: none;
        border: 1px solid hsla(var(--theme), 0.5);
        transition: border 300ms;

        &:hover {
          border: 1px solid hsla(var(--theme), 1);
        }
      }

      & button:last-of-type {
        --theme: var(--error);
      }
    }
  }
}
