#apps {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10;

  &.apps--open {
    & #apps__button {
      background: none;
      box-shadow: none;
    }

    & #apps__items {
      left: 0;
      top: 0;
      transform: scale(1);
    }

    & #apps__touch-area {
      width: 100vw;
    }
  }

  & #apps__button {
    background: hsl(var(--bg));
    border-radius: 0;
    box-shadow: 0 0.1em 0.5em 0.1em hsla(var(--theme), 0.5);
    color: hsl(var(--fg));
    height: 2.5em;
    left: 0.1em;
    padding: 0;
    position: relative;
    transition: none;
    width: 2.5em;
    z-index: 3;
  }

  & #apps__items {
    align-content: start;
    background: hsl(var(--bg));
    box-shadow: -0.1em 0 0.2em 0.1em hsla(var(--fg), 0.25);
    display: grid;
    font-size: 1.2rem;
    grid-auto-rows: 2.5em;
    grid-template-columns: max-content;
    height: calc(100vh - 3em);
    left: 0;
    padding-top: 3em;
    position: absolute;
    top: 0;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform 150ms;
    z-index: 2;

    & #apps__bg {
      background: hsla(var(--theme), 0.25);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    & a {
      align-items: center;
      background: none;
      border-radius: 0;
      box-shadow: none;
      color: hsl(var(--fg));
      display: grid;
      font-size: 1.2rem;
      gap: 0.5em;
      grid-template-columns: 2.5em 1fr;
      justify-content: center;
      justify-items: center;
      padding: 0;
      padding-right: 0.5em;
      text-decoration: none;
      width: calc(100% - 0.5em);

      &:hover,
      &:focus {
        background: hsla(var(--theme), 0.25);
      }

      &:active {
        background: hsla(var(--theme), 0.5);
      }

      & span {
        justify-self: start;
      }
    }
  }

  & #apps__touch-area {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 5vw;
    z-index: 1;
  }
}

@media all and (min-width: 500px) {
  #apps {
    & #apps__items {
      height: auto;
      left: 1em;
      top: 1em;
      transform: scale(0);
      transform-origin: top left;
      transition: transform 150ms, top 150ms, left 150ms;

      & button {
        grid-template-columns: 2.5em 1fr 2.5em;
      }
    }
    & #apps__touch-area {
      width: 0;
    }
  }
}
