#auth {
  align-items: center;
  display: grid;
  gap: 1em;
  grid-template-rows: 20vh max-content 1fr;
  height: 100%;
  justify-content: center;
  padding: 0;

  & > header {
    align-items: center;
    align-self: end;
    display: flex;
    gap: 0.5em;
    grid-row: 1;
    justify-content: center;

    & h1 {
      font-size: 4rem;
      padding-top: 0.5rem;
    }

    & svg {
      height: 2.5em;
      width: 2.5em;
    }
  }

  & #auth__box {
    align-items: center;
    border: 0.1em solid hsl(var(--theme));
    border-radius: 1em;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 1em;
    grid-row: 2;
    height: max-content;
    justify-items: center;
    padding: 1em;
    transition-duration: 300ms;
    width: 20em;

    & h2 {
      font-size: 1.5rem;
      text-align: center;
    }

    & p {
      font-size: 1.2rem;
      margin: 0;
      text-align: center;
    }

    & input[type="submit"] {
      width: 100%;
    }

    & input[type="button"] {
      border: none;
      border-bottom: 0.1em solid hsl(var(--bg));
      border-radius: 0;
      box-shadow: none;
      font-size: 1rem;
      height: max-content;
      padding: 0.25em;
      transition: border 300ms;
      width: max-content;

      &:hover,
      &:focus {
        background: none;
        border-bottom: 0.1em solid hsl(var(--theme));
      }
    }

    & label {
      justify-self: start;
      width: 100%;

      & input {
        margin-top: 0.5em;
        width: calc(100% - 1em);
      }
    }

    & #auth__otp {
      cursor: text;
      display: grid;
      grid-gap: 0.5em;
      grid-template-columns: repeat(6, 1fr);

      & input {
        height: 2.5em;
        padding: 0;
        user-select: none;
        width: 100%;
      }
    }
  }

  & #loading {
    align-items: center;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 1em;
    grid-row: 2;
    height: max-content;
    justify-items: center;
    padding: 1em;
  }
}
