:root {
  --theme: 270, 82%, 35%;
  --theme-lighter: 270, 82%, 45%;
  --theme-darker: 270, 82%, 25%;
  --bg-dark: 0, 0%, 0%;
  --fg-dark: 0, 0%, 95%;
  --bg-light: 0, 0%, 95%;
  --fg-light: 0, 0%, 5%;
  --error: 0, 100%, 30%;
  --correct: 150, 50%, 30%;
  --hotkey: 240, 20%, 20%;
  --font-title: "Parisienne", sans-serif;
  --font-text: "Parisienne", serif;
  --lumosity: 50%;
}

@font-face {
  font-family: Parisienne;
  src: url("/fonts/parisienne-regular.ttf");
}

html {
  --bg: var(--bg-dark);
  background: hsl(var(--bg));
  height: 100vh;
  margin: 0;
  width: 100vw;
}

body {
  cursor: default;
  font-family: var(--font-text);
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
  touch-action: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  margin: 0;
}

button,
input[type="submit"],
a {
  align-items: center;
  background: hsla(var(--theme), 0.75);
  border: none;
  border-radius: 1em;
  box-shadow: 0 0.5em 1em 0.25em hsla(var(--theme), 0.4);
  color: hsl(var(--fg-dark));
  cursor: pointer;
  display: flex;
  font-family: var(--font-title);
  font-size: 1.2rem;
  height: 2.5em;
  justify-content: center;
  padding: 0 1em;
  transition: background 300ms;
  width: auto;

  &:hover,
  &:focus {
    background: hsla(var(--theme), 0.5);
    outline: none;
  }

  &[disabled] {
    box-shadow: none;
    cursor: default;
    opacity: 0.5;

    &:hover,
    &:focus {
      background: hsla(var(--theme), 0.75);
      outline: none;
    }
  }
}

input {
  background: none;
  border: none;
  border: 0.1em solid hsla(var(--theme), 0.5);
  border-radius: 0.25em;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  margin-top: 0.25em;
  padding: 0.25em 0.5em;
  text-align: center;
  transition: border 300ms;
  width: 100%;

  &:focus {
    border: 0.1em solid hsl(var(--theme));
    outline: none;
  }

  &[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &[type="color"] {
    height: 1em;
  }

  &[type="button"] {
    align-items: center;
    border: 0.1em solid hsl(var(--theme));
    border-radius: 1em;
    box-shadow: 0 0.5em 1em 0.25em hsla(var(--theme), 0.4);
    color: hsl(var(--fg));
    cursor: pointer;
    display: flex;
    font-family: var(--font-title);
    font-size: 1.2rem;
    height: 2.5em;
    justify-content: center;
    padding: 0 1em;
    transition: background 300ms;
    width: auto;

    &:hover,
    &:focus {
      background: hsl(var(--theme));
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: hsl(var(--theme));
  border: none;
  border-radius: 2.5em;
  box-shadow: 0 0.5em 1em 0.25em hsla(var(--theme), 0.4);
  color: hsl(var(--fg-dark));
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.1em 0.25em;
  text-align: center;
}

.svg-sprite {
  left: 0;
  position: absolute;
  top: 0;
}

.icon {
  fill: none;
  height: 1em;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  width: 1em;
}

.input-error {
  --theme: var(--error);
}

.input-correct {
  --theme: var(--correct);
}

form {
  position: relative;

  & .form-error {
    background: hsl(var(--error));
    border-radius: 0 0 0.25em 0.25em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    left: 0.5em;
    padding: 0.25em;
    position: absolute;
    text-align: center;
    top: 0.1em;
    transform: scaleY(1);
    transform-origin: top center;
    transition: transform 300ms;
    width: calc(100% - 1.5em);

    &[hidden] {
      padding: 0;
      transform: scaleY(0);
    }
  }
}
