#root {
  --bg: var(--bg-dark);
  --fg: var(--fg-dark);
  --lumosity: 75%;
  background: hsl(var(--bg));
  color: hsl(var(--fg));
  display: grid;
  grid-template-rows: 3em 1fr;
  height: 100vh;
  transition: background 300ms, color 300ms;
}

#root.light {
  --bg: var(--bg-light);
  --fg: var(--fg-light);
  --lumosity: 25%;
}

#root > header {
  align-items: flex-start;
  display: flex;
  grid-row: 1;
  justify-content: center;
  padding-top: 0.25em;
}

#root > header h1 {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  gap: 0.25em;
  transition: font-size 300ms;
}

#root > header h1 svg {
  height: 1em;
  padding-top: 0.25rem;
  transition: gap 300ms, height 300ms, width 300ms, padding-top 300ms;
  width: 1em;
}

#root #admin-button {
  background: none;
  box-shadow: none;
  display: flex;
  gap: 0.25em;
  padding: 0 0.5em;
  position: absolute;
  right: 3em;
  text-decoration: none;
}

#root #admin-button:hover {
  background: hsla(var(--theme), 0.75);
}

#root > header.signed-out {
  grid-template-rows: max-content;
}

#root > header.signed-out h1 {
  font-size: 2.5rem;
  gap: 0.5em;
}

#root > header.signed-out h1 svg {
  height: 1.5em;
  width: 1.5em;
}

#error {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  left: calc(50vw - 5.5em);
  position: absolute;
  top: 0.5em;
  width: 10em;
  z-index: 10;
}

#error span {
  background: hsl(var(--error));
  border-radius: 0.5em;
  cursor: pointer;
  display: block;
  padding: 0.25em 0.5em;
  text-align: center;
  transform: scaleY(1);
  transform-origin: top center;
  transition: transform 300ms;
}

#error span:last-child {
  transform: scaleY(0);
}

#root #loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-auto-rows: max-content;
  grid-gap: 1em;
  height: calc(100% - 6em);
  justify-content: center;
  padding: 1em 1em 5em 1em;
}

#root #loading svg {
  height: 4em;
  width: 4em;
}

.hotkey {
  align-items: center;
  background: hsl(var(--hotkey));
  border-radius: 0.25em;
  color: hsl(var(--fg-dark));
  display: flex;
  justify-content: center;
  padding: 0.2em 0.5em;
}

@media only screen and (max-width: 500px) {
  .hotkey {
    display: none;
  }
}
