.checkbox {
  border: 1px solid hsl(var(--theme));
  border-radius: 50%;
  height: 25px;
  position: relative;
  width: 25px;

  & input {
    border-radius: 50%;
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &:checked ~ div {
      transform: scale(1);
    }
  }

  & div {
    background: hsl(var(--theme));
    border-radius: 50%;
    height: 100%;
    transform: scale(0);
    transition: transform 150ms;
    width: 100%;
  }
}
