#settings {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

  &.settings--open {
    & #settings__button {
      background: none;
      box-shadow: none;
    }

    & #settings__items {
      right: 0;
      top: 0;
      transform: scale(1);
    }
  }

  & #settings__button {
    background: hsl(var(--bg));
    /* border-bottom: 3px solid hsl(var(--theme)); */
    border-radius: 0;
    box-shadow: 0 2px 10px 2px hsla(var(--theme), 0.5);
    color: hsl(var(--fg));
    height: 50px;
    padding: 0;
    position: relative;
    right: 2px;
    transition: none;
    width: 50px;
    z-index: 1;
  }

  & #settings__items {
    align-content: start;
    background: hsl(var(--bg));
    box-shadow: -1px 0 4px 1px hsla(var(--fg), 0.25);
    display: grid;
    font-size: 1.2rem;
    grid-auto-rows: 50px;
    grid-template-columns: max-content;
    padding-top: 60px;
    position: absolute;
    right: 25px;
    top: 25px;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 150ms, top 150ms, right 150ms;

    & #settings__bg {
      background: hsla(var(--theme), 0.25);
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    & button {
      align-items: center;
      background: none;
      border-radius: 0;
      box-shadow: none;
      color: hsl(var(--fg));
      display: grid;
      font-size: 1rem;
      gap: 10px;
      grid-template-columns: 50px 1fr 50px;
      justify-content: center;
      justify-items: center;
      padding: 0;
      padding-right: 10px;
      text-decoration: none;
      width: 100%;

      &:hover,
      &:focus {
        background: hsla(var(--theme), 0.25);
      }

      &:active {
        background: hsla(var(--theme), 0.5);
      }

      & span {
        justify-self: end;
      }
    }
  }
}
