.datetime-input {
  align-items: center;
  border: 0.1em solid hsla(var(--theme), 0.5);
  border-radius: 0.25em;
  display: grid;
  grid-template-columns: repeat(9, max-content);
  justify-content: center;
  padding: 0.25em 0.5em;
}

.datetime-input input {
  border: none;
  padding: 0 0.5rem;
  text-align: center;
  width: 2rem;
}
.datetime-input input:first-child {
  width: 4rem;
}

.datetime-input span {
  text-align: center;
}
