.table {
  display: grid;
  grid-row-gap: 0.5em;
  grid-template-rows: max-content minmax(0, 1fr);
  justify-items: center;

  & .table__header {
    display: grid;
    grid-template-columns: repeat(var(--n-cols), 1fr);
    justify-items: center;
    width: 100%;

    & div {
      align-items: center;
      border-bottom: 0.1em solid currentColor;
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      font-weight: bold;
      gap: 0.5em;
      justify-content: center;
      padding: 0.5em 0.25em;
      width: 80%;

      & input {
        font-size: 0.9rem;
        width: 80%;
      }
    }
  }

  & .table__body {
    display: grid;
    grid-auto-rows: minmax(1.25em, max-content);
    grid-gap: 0.5em;
    grid-template-columns: repeat(var(--n-cols), 1fr);
    justify-items: center;
    overflow: auto;
    width: 100%;

    & div {
      align-content: center;
      display: flex;
      justify-content: center;

      &.table--clickable {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
