#language {
  width: 100%;

  &.language--showing-list {
    & #language__button {
      background: hsla(var(--theme), 0.25);
      position: relative;

      &:hover {
        background: hsla(var(--theme), 0.5);
      }
    }

    & #language__bg {
      height: 100vh;
      width: 100vw;
    }

    & #language__list {
      transform: scaleY(1);
    }
  }

  & #language__bg {
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
  }

  & #language__list {
    background: hsl(var(--bg));
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 1fr;
    left: 0;
    position: relative;
    top: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: transform 200ms;
    width: 100%;

    & button {
      background: hsla(var(--theme), 0.5);
      display: block;
      padding: 0.25em 0.5em 0.25em 0;
      text-align: right;
      width: 100%;

      &:hover {
        background: hsla(var(--theme), 0.75);
      }
    }
  }
}
