#root .app {
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100%;
}

#root .app > h1 {
  text-align: center;
}

#root .app main {
  height: 100%;
  position: relative;
}

#root .app main section {
  background: hsl(var(--bg));
  display: grid;
  grid-template-rows: 1fr max-content;
  height: calc(100% - 1em);
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 200ms;
  width: 100%;
  z-index: 0;
}

#root .app main section[hidden] {
  transform: scaleY(0);
}

#root .app main section footer {
  display: flex;
  gap: 2em;
  grid-row: 2;
  justify-content: center;
  padding: 0.5em;
}

#root .app main section footer button {
  background: none;
  border-radius: 1.5em;
  font-family: var(--font-title);
  height: 3em;
  padding: 0.5em;
  width: 3em;
}

#root .app main section footer a {
  background: none;
  border-radius: 1.5em;
  font-family: var(--font-title);
  height: 2em;
  padding: 0.5em;
  width: 2em;
}

#root .app main section footer button.positive,
#root .app main section footer a.positive {
  background: hsla(var(--correct), 0.5);
  box-shadow: 0 0.5em 1em 0.25em hsla(var(--correct), 0.4);
}

#root .app main section footer button.negative,
#root .app main section footer a.negative {
  background: hsla(var(--error), 0.5);
  box-shadow: 0 0.5em 1em 0.25em hsla(var(--error), 0.4);
}

#root .app main section footer button svg,
#root .app main section footer a svg {
  height: 3em;
  width: 3em;
}
